body {
    margin: 0;
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: #08415C;
    line-height: 25px;
  }
  
  img {
    width: 100px;
  }
  
  .hero {
    color: #ffffff;
    height: 400px;
    background-image: url(Coventry_City_Centre_from_One_Friargate_2019.jpg);
    background-size: cover;
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4%;
  }
  
  h3 {
    margin-top: 0;
    padding-bottom: 20px;
  }
  #title {
    background: #252445;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 0 0 0;
    margin-top: 80px;
  }
  #intro {
    background: #002642;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
    width: 800px;
    line-height: 35px;
  }
  
  #activities {
    background-color: #C7C7BA;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #images {
    width: 950px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #activities img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  #activity {
    width: 250px;
    font-weight: 500;
  }
  
  .avatar {
    width: 150px;
  }
  
  .card {
    width: 450px;
    margin: 80px auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background: #BA9467;
    color: #08415C;
    border-bottom: 6px solid #08415C;
    border-radius: 10px;
  }
  .border-blue {
    border: 1px dotted #252445;
  }
  
  .card img {
    object-fit: cover;
    width: 200px;
    border-radius: 10px;
    height: 300px;
  }
  .business-card-text {
    width: 250px;
    margin-left: 20px;
  }
  
  #england {
    background: #252445;
    border-radius: 5px;
    padding: 5px;
  }